.whatevs {
	background: #0D1313;

}
em {
	color:white;
}

.title-header {
	text-align: center;
    border-style: solid;
    border-radius: 55px;
    border-width: 1px;
    border-color: blue;
    background-color: yellow;
    margin:25px;
}

.col-sm-6 {
	font-size: 20px;
	padding: 50px;
	text-align: left;
    line-height: 175%;
}

.col-sm-12 {
    font-size: 20px;
    padding: 50px;
    text-align: left;
    line-height: 175%;
}

.navigation-bar {
    position: relative;
    padding: 5px;
    background-color: #1875b9;
    text-align: center;
    height:40px;

}

.well {
    text-align: center;
    border-radius: 55px;
    font-size: 20px;
    font-style: italic;
}

#offset {
    background-color: #d7f0f7;
    margin-bottom: 15px;
}